/* src/styles/Sidebar.css */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  background-color: #999ba5;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  overflow-y: auto;
  z-index: 1000; /* Ensure it stays on top of other content */
  transform: translateX(-100%); /* Hide by default */
  transition: transform 0.3s ease; /* Smooth transition */
}

.sidebar.open {
  transform: translateX(0); /* Show when open */
}

.sidebar.closed {
  transform: translateX(-100%); /* Hide when closed */
}

.sidebar-header {
  top: 0;
  font-size: 1.5rem; /* Larger font size for the heading */
  font-weight: 700; /* Bold font weight */
  margin-bottom: 1rem; /* Space below the heading */
  text-align: center; /* Center the heading text */
  color: #111111; /* Ensure heading text color is white */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  font-size: 16px;
  font-weight: 500; /* Slightly bolder font for a more professional look */
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center; /* Center items vertically */
  text-align: left; /* Align text to the left for better readability */
  border-radius: 8px; /* Rounded corners for a modern look */
  margin-bottom: 8px; /* Space between list items */
  color: #ecf1ed; /* Light gray text color */
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #eaedf9; /* Slightly lighter color on hover */
  color: #FFFFFF; /* Ensure text color is readable on hover */
}

.sidebar-item.active {
  background-color: red; /* Blue background for the active item */
  color: #FFFFFF; /* White text for better contrast */
}

.sidebar-title {
  font-size: 14px;
  color: #bdc3c7;
  text-transform: uppercase;
  margin: 20px 0 10px;
  padding: 0 20px;
}

.sidebar-item .icon {
  font-size: 20px; /* Slightly larger icons for better visibility */
  margin-right: 15px; /* Space between icon and text */
}

.sidebar-item .text {
  font-size: 16px;
  flex-grow: 1;
  padding: 10px;
}

.sidebar-item:last-child {
  margin-top: auto; /* Push Logout to the bottom */
}

/* Scrollbar styles */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #e8eef4;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}
